:root {
    --primary-color: #12CCC6;
    --secundary-color: #0EA89E;
    --accent1-color: #FFFFFF;
    --accent2-color: #1A1A1A;

    --text-font-family: "Montserrat", serif;
    --text-font-weight: 500;
    --text-font-size: 1.5rem;

    --heading-font-family: "Bebas Neue", serif;
    --heading-font-weight: 400;
    --heading-font-size: 3rem;
}

body {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--text-font-family);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 10px 0;
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}

.logo {     
    height: 150px;
    margin-left: 500px;
    width: auto;
}

nav {
    background-color: var(--secundary-color);
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: auto;
    width: 25%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-family: var(--text-font-family);
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: var(--text-font-weight);
}

nav a:hover {
    background-color: var(--secundary-color);
    color: var(--accent1-color);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 80%;
    height: auto;
}

.hero h1 {
    position: relative;
    top: 140px;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--accent2-color);
    font-size: var(--heading-font-size);
    border: 2px solid var(--accent1-color);
    border-radius: 15px;
    background-color: var(--accent1-color);
    padding: 10px;
    margin-top: -50px;
}

.hero article {
    position: relative;
    bottom: 455px;
    border-radius: 5px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    width: 70%;
    padding: 30px;
    margin-top: 20px;
}

.hero p {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 80%;
}

.hero article img {
    float: right;
    border-radius: 10px;
    margin: 40px 40px 10px 10px;
    width: 250px;
    height: auto;
}

.h2-style {
    position: relative;
    bottom: 350px;
    border-radius: 15px;
    width: 30%;
    height: auto;
    background-color: var(--primary-color);
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    text-align: center;
    margin: 20px auto;
}

.p-history {
    position: relative;
    bottom: 350px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: var(--text-font-size);
    width: 80%;
    padding: 30px;
    margin: 20px auto;
}

.sociallinks{
    justify-content: space-between;
}