:root {
    --primary-color: #12CCC6;
    --secundary-color: #0EA89E;
    --accent1-color: #FFFFFF;
    --accent2-color: #1A1A1A;
    --accent3-color: #E0E6E6;
    --hover-color: #333333;

    --text-font-family: "Montserrat", serif;
    --text-font-weight: 500;
    --text-font-size: 1.5rem;

    --heading-font-family: "Bebas Neue", serif;
    --heading-font-weight: 400;
    --heading-font-size: 3rem;
}

body {
    background-color: var(--accent3-color);
    color: var(--accent2-color);
    font-family: var(--text-font-family);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 100px;
    width: auto;
    justify-self: start;
    margin-left: 40px;
}

nav {
    background-color: var(--secundary-color);
    border-radius: 15px;
    padding: 10px;
    display: grid;
    justify-content: end;
    width: auto;
    max-width: 500px;
    margin-right: 40px;
}

nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-family: var(--text-font-family);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: var(--text-font-weight);
    display: block;
}

nav a:hover {
    background-color: var(--secundary-color);
    color: var(--accent1-color);
}

iframe{
    border: none;
    border-radius: 15px;
}

.hero {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--accent1-color);
    font-size: var(--heading-font-size);
    border-radius: 15px;
    padding: 10px;
    max-width: 80%;
    margin-left: 10vw;
    z-index: 2;
    position: relative;
    top: 50px;

}

.hero img {
    position: relative;
    z-index: 1;
    margin-left: 5.5vw;
    width: 95vw;
    height: 80vh;
    object-fit: cover; 
    bottom: 100px;
}


.hero article {
    position: absolute;
    z-index: 2;
    width: 80vw;
    top: 350px;
    left: 100px;
    height: 300px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border-radius: 5px;
    padding: 20px; 
}

.hero article img {
    position: relative;
    left: 75%;
    top: 30px;
    margin: 20px auto;
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.hero-paragraph{
    width: 70%;
    position: relative;
    left: 10px;
    bottom: 150px;
    font-size: var(--text-font-size);
}

.history-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #12CCC6;
    width: 95vw;
    height: 500px;
    border: 1px solid var(--accent2-color);
}

.p-history {
    margin-right: 70%;
    position: relative;
    top: 250px;
    font-size: var(--text-font-size);
    width: 20vw;
}

.river-section{
    position: relative;
    bottom: 120px;
    width: 40vw;
    height: 300px;
    border-radius: 15px;
}

.p-history2 {

    margin-left: 70%;
    position: relative;
    bottom: 450px;
    font-size: var(--text-font-size);
    width: 20vw;
}

.h2-style{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--accent2-color);
    font-size: var(--heading-font-size);
    border: 2px solid var(--accent1-color);
    background-color: var(--accent1-color);
    border-radius: 15px;
    width: 200px;
    padding: 5px;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 350px;
}

.gallery-container {
    background-color: var(--secundary-color);
    text-align: center; 
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.gallery-container h2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    border: 2px solid var(--accent1-color);
    background-color: var(--accent1-color);
    border-radius: 15px;
}

.gallery {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.item {
    text-align: center; 
    font-weight: var(--text-font-weight);
    font-size: var(--text-font-size);
    color: var(--accent2-color);
}

.item img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
    background-color: #ddd; 
    border-radius: 5px; 
}


footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 8px;
    color: var(--accent2-color);
}

footer p {
    font-size: 1rem;
    font-weight: var(--text-font-weight);
    color: var(--accent2-color);
    flex: 1;
    margin: 0;
    text-align: center; 
}

.sociallinks {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
}

.styled-div{
    background-color: var(--secundary-color);
    padding: 10px;
}


.heading-contact{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    color: var(--accent2-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    width: 400px;
}

.location-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    background-color: var(--accent3-color);
}

.location-container h2{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: 2rem;
    color: var(--accent2-color);
}


.location-container-informations-div{
    border: 1px solid var(--accent2-color);
    border-radius: 15px;
    background-color: var(--primary-color);
    width: 400px;
    height: 350px;
    padding: 30px;
    margin: 20px auto;
}

.location-container-map{
    margin-left: 300px;
}

.heading-team{
    width: 500px;
}

.border-none{
    border: none;
}

.form-container {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
    box-shadow: 0 0 10px var(--accent2-color);
}

.form-localization{
    display: grid;
    place-items: center;
    padding: 30px;
    background-color: var(--accent3-color);
}

.form-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: var(--accent2-color);
}

.form-label-newsletter {
    color: var(--accent2-color);
}

.form-input, .form-textarea {
    width: 90%; 
    max-width: 400px;
    min-width: 400px;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background: var(--accent1-color);
    color: var(--accent2-color);
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    font-size: 1rem;
}

.form-textarea-height {
    max-height: 300px;
    min-height: 100px;

}

.radio-group label {
    font-weight: normal;
    color: var(--accent2-color);
    display: inline;

}

.form-button {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    font-family: var(--text-font-family);
    font-weight: bold;
    font-size: var(--text-font-size);
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.form-button:hover {
    color: var(--accent1-color);
    background-color: var(--hover-color);
}

.wireframe-link{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--accent2-color);
    border-radius: 15px;
    padding: 4px;
    color: var(--accent3-color);
    background-color: #000;
}

.wireframe-link:hover{
    background-color: var(--hover-color);
    color: var(--accent1-color);
}

.index-hero-container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.index-hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-hero-heading{
    width: 35%;
    position: absolute;
    top: 15%;
    left: 10%;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    text-align: left;
    color: var(--accent1-color);
    text-shadow: 12px 15px 14px var(--accent2-color);
    z-index: 1;
}

.hero-text {
    font-family: var(--text-font-family);
    font-weight: 700;
    font-size: 2.5rem;
    font-style: italic;
    color: var(--accent1-color);
    text-align: left;
    padding: 20px;
    width: 120%;
    margin-top: -120px;
}

.newsletter {
    text-align: center;
    padding: 20px;
    background-color: var(--secundary-color);
}

.newsletter h2 {
   font-family: var(--heading-font-family);
   font-size: var(--heading-font-size);
   color: var(--accent2-color);
   text-shadow: 2px 5px 4px var(--accent1-color);
}

.newsletter form input {
    font-family: var(--text-font-family);
    font-size: 1rem;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 200px;
}

.newsletter button {
    background: var(--accent2-color);
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    color: var(--accent1-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--hover-color);
}

.cta {
    text-align: center;
    padding: 20px;
    background: var(--accent3-color);
}

.cta h2{
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
}

.cta p {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

.cta .btn {
    display: inline-block;
    font-size: var(--text-font-size);
    background: var(--accent2-color);
    color: var(--accent1-color);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.cta .btn:hover {
    background-color: var(--hover-color);
}

.offerings .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.grid-item h3 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    color: var(--accent2-color);
    text-shadow: 12px 15px 14px var(--accent2-color);
}

.grid-item p {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

.cta-trips {
    background-color: var(--secundary-color);
    color: var(--accent2-color);
    padding: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.cta-trips h2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    margin-bottom: 10px;
}

.cta-trips p {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    margin-bottom: 20px;
}

.cta-trips .btn {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.cta-trips .btn:hover {
    background-color: var(--hover-color);
}

.trip-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
}

.trip-descriptions article {
    background-color: var(--accent1-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trip-descriptions article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.trip-descriptions h3 {
    font-size: 2rem;
    margin-top: 10px;
}

.trip-descriptions p {
    font-size: var(--text-font-size);
    margin-top: 10px;
}

.trip-table {
    margin-top: 40px;
    background-color: var(--accent3-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trip-table h2 {
    font-size: var(--heading-font-size);
    text-align: center;
    color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
    background-color: var(--accent2-color);
    border-radius: 15px;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}

th {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-size: 18px;
}

td {
    background-color: #B8C2C2;
    font-size: 16px;
}



@media (min-width: 768px) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
    
    .hero h1 {
        grid-column: span 2;
        text-align: center;
    }

    .hero article {
        text-align: left;
    }
}

@media (max-width: 1024px) {
    .index-hero-heading {
        width: 50%;
        font-size: calc(var(--heading-font-size) * 0.8);
        top: 10%;
        left: 5%;
    }

    .hero-text {
        font-size: 2rem;
        width: 100%;
        margin-top: -100px;
    }
}

@media (max-width: 768px) {
    .index-hero-container {
        height: 40vh;
    }

    .index-hero-heading {
        width: 60%;
        font-size: calc(var(--heading-font-size) * 0.7);
        top: 8%;
        left: 5%;
        text-shadow: 8px 10px 10px var(--accent2-color);
    }

    .hero-text {
        font-size: 1.8rem;
        margin-top: -80px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .index-hero-container {
        height: 35vh;
    }

    .index-hero-heading {
        width: 80%;
        font-size: calc(var(--heading-font-size) * 0.6);
        top: 5%;
        left: 5%;
        text-shadow: 5px 7px 7px var(--accent2-color);
    }

    .hero-text {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin-top: -60px;
    }
}

