:root{
    --primary-color: #0aaca6;
    --text-color: #302a2a;
    --form-background-color: #eeeeee;
    --form-font-family: 'Courier New', Courier, monospace;
    --form-font-size: 1.5rem;
    --form-font-weight: 600;
    --heading-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --heading-font-size: 2rem;
    --heading-font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-style{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    color: var(--text-color);
    text-align: center;
}

form{
    display: grid;
    width: 650px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    background-color: var(--form-background-color);
}

fieldset{
    display: grid;
    grid-gap: 0.5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
}

legend{
    padding: 0.5rem;
}

textarea{
    width: 100%;
}

button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--form-background-color);
    font-family: var(--form-font-family);
    font-size: var(--form-font-size);
    font-weight: var(--form-font-weight);
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: var(--text-color);
}

.text-font-style{
    font-family: var(--form-font-family);
    font-size: var(--form-font-size);
    font-weight: var(--form-font-weight);
    color: var(--primary-color);
}

